/* Add some basic spacing and alignment */

main {
  padding-top: 1rem;
}

h1, h2 {
  text-align: center;
}

form {
  display: grid;
  grid-gap: 1rem;
  max-width: 600px;
  margin: 2rem auto;
}

form input, form button {
  padding: 0.75rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}
